/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}
@media (max-width: 600px) {


  
  .imagecontainer {
    width: 100%;
    height: 100%;
    background-image: url(romantic-young-couple-sitting-on-600w-364711517.webp);
    /* background-position: center; */
    background-size: cover;
    padding: 0vmax 0vmax;
    filter: brightness(0%) contrast(0%) blur(0%);
    background-color: black;
    position: relative;
 }
 .top{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    position: absolute;
 }
}
.h {
  margin: 0 0 0 200px;
  position: absolute;
  z-index: 1;
 }
 
 .a {
    position: absolute;
    top: 40%;
    left: 72%;
    font: 600 1vmax "open sans";
    cursor: pointer;
    color: white;
     z-index: 1;
     letter-spacing: 1px;
 }
 
 .a:hover {
    text-decoration: underline;
 }
 
 .b {
    position: absolute;
    font: 700 1vmax "open sans";
    color: white;
    margin: .5vmax;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 1;
    top: 32%;
    left: 80%;
 }
 
 .b:hover {
    text-decoration: underline;
 }
 
 .c {
    color: rgba(219, 213, 213, 0.612);
    border: solid;
    border-radius: 50%;
    padding: 3px 3.5px;
    cursor: pointer;
    position: absolute;
    right: 120%;
    bottom: -10%;
    z-index: 1;
 }